# --- SEGURIDAD Y LLAVES (CRÍTICO) ---
.env
.env.local
.env.*.local
*.pem
*.key

# --- DEPENDENCIAS ---
node_modules/

# --- EXPO Y BUILDS ---
.expo/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo

# --- NATIVO (ANDROID & IOS) ---
/ios
/android
*.jks
*.p8
*.p12
*.mobileprovision
.kotlin/
*.orig.*

# --- METRO & DEBUG ---
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db